@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply m-0 p-0 outline-none box-border;
  }
  ul,
  ol,
  li {
    @apply list-none;
  }
  a {
    @apply no-underline inline-block;
  }
  img {
    @apply align-middle;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  img,
  span,
  ul,
  ol,
  li,
  p,
  a,
  div {
    @apply m-0 p-0;
  }
}

/*:root {
  --main_bg_color: #ffffff;
  --secondary_bg_color: #f5f5f3;
  --main_font_color: #262626;
  --secondary_font_color: #767676;
  --footer_text_color: #6d6d6d;
}*/
